language: java

jdk:
  - oraclejdk8

jobs:
  include:
    - stage: verify
      script: mvn verify
    - stage: verify
      script: mvn verify
    - deploy:
        provider: heroku
        api_key:
          secure: "dfb6b9de-0385-479a-9579-6dc0861df82d"
        app: vehicle-spring